.App {
  min-height: 400px;
  padding-left: 340px;
  padding-right: 40px;
}


a.address {
  display: flex;
  align-items: center;
}

.deposit .btn {
  float: right;
}

.amount {
  width: 100px;
  text-align: right;
}

.row {
  margin-top: 35px;
}

a.address span {
  display: inline-block;
  width: 242px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.stellar-address span {
  display: inline-block;
  width: 218px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.stellar-address {
  display: flex;
  align-items: center;
}

.to-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px
}

.fa {
  align-items: center;
  margin: 0 5px;
  display: inline-block;
}
